{% extends 'base.html' %}

{% block title %}

<title>Hire-up</title>

{% endblock %}

{% block content %}
<div class="container">

<h1>Password reset </h1>

<form action="/hr/profile/pwd" method="post" class="form-control">

    <label for="">Enter the Current Password</label>
    <input class="form-control" type="text" name="password" placeholder="Enter the password here.....">
<br>
    <label for="">Enter the New Password</label>
    <input class="form-control" type="text" name="newPassword"  placeholder="Enter the password here......">
<br>
    <label for="">Enter the Current Password</label>
    <input class="form-control" type="text" name="confirmPassword" placeholder="Enter the password here.....">
<br>
    <button type="submit" class="btn btn-success">Save</button>

</form>
</div>

{% endblock %}